body {
  padding-top: 70px;
  color: #5a5a5a;
  background: #f7ffff;
  background: linear-gradient(#f7ffff, #f1fdfd);
}

/* current saturated complement to colour scheme is #9e2801*/

html {
    min-height: 100%; /*makes content like background stretch to fill viewport*/
    }

.panel-page {
    box-shadow: 0px 0px 5px 15px rgba(0, 0, 0, .05);
    }
    
@media all and (min-width: 700px){    
.non-mobile-round {
    border-radius: 100px;
    }
}

.background {
    background: #f7ffff;
    }
    
.white {
    background: #ffffff;
    }

.grey {
    background: #fafafa;
}
.twohundred {
    width: 200px;
    height: 200px;
    }
    
.embiggen:hover {
    width: 250px;
    height: 250px;
    }

.navbar-round {
    border-radius: 100px;
    }
    
.marketing {
    margin-top: 50px;
    }
.marketing .col-lg-4 {
  margin-bottom: 50px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}

.lead {
    text-align: center;
    }
    
.center {
    text-align: center;
    }


.btn-spaced {
    margin-right: 95px;
    margin-left: 95px;
    border-radius: 20px;
    }
    
.btn-round {
    border-radius: 30px;
}

.btn-pale {

    background: #f7ffff;
}

.shadow {
        box-shadow: 4px -1px 20px 4px rgba(0,0,0, .05);
}

.panel {
    padding-top: 50px;
    border-radius: 20px;
    }

.padded {
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    }
.padded-low {
        padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}
  
@media all and (min-width: 700px){
.padded-non-mobile {
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    }
}

@media all and (max-width: 699px) { /*this is relative to min width above! */
.padded-mobile {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    }
}
    
.dark {
    color: #5a5a5a
    }
    
.dark:hover {
    color: #2f2f2f
}

/* commented for now as I need to figure out how to make it nice when buttons
are selected
.navbar-default {
  background-color: #fffcb7;
  border-color: #ab9987;
}



.btn-default:hover{
  color: #fff;
  background-color: #f0ad4e;
  border-color: #eea236;
    }
*/